@use 'partials/variables';

body {
    font: 100% variables.$generic-font;
    color: variables.$primary-font-color;
}

h1 {
    font-family: variables.$special-font;
    font-size: 7vh;
}
.trip-card {
    display: flex;
    flex-direction: column;
    background-color: variables.$wireframe-color;
    border: variables.$wireframe-border;
    width: 92vw;
    border-radius: 1vw;
}

.main-container {
    display: grid;
    grid-template-areas: 
    "head"
    "neck"
    "main"
    "foot";
    grid-template-rows: 8vh 15vh 1fr 20vh;
    gap: 1vh;
}

header {
    grid-area: head;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: variables.$brand-color-1;
    text-align: center;
    color: variables.$font-color-1;
    // position: fixed;

}

aside {
    grid-area: neck;
    background-color: variables.$wireframe-color;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: variables.$wireframe-color;
    min-height: 10vh;
    // justify-content: center;
    align-items: center;
}

footer {
    grid-area: foot;
    background-color: variables.$wireframe-color;
}

@media (min-width:600px) {
    .trip-card {
        flex-direction: row;
    }
}