$special-font: 'Roboto', sans-serif;
$generic-font: 'Open Sans', sans-serif;
$primary-font-color: black;
$wireframe-color: rgb(163, 163, 187);
$wireframe-border: 2px solid white;
$font-color-1: white;
$brand-color-1: rgb(12, 22, 36);

body {
    font: 100% $generic-font;
    color: $primary-font-color;
}

h1 {
    font-family: $special-font;
    font-size: 7vh;
}
.trip-card {
    display: flex;
    flex-direction: column;
    background-color: $wireframe-color;
    border: $wireframe-border;
    width: 92vw;
    border-radius: 1vw;
}

.main-container {
    display: grid;
    grid-template-areas: 
    "head"
    "neck"
    "main"
    "foot";
    grid-template-rows: 8vh 15vh 1fr 20vh;
    gap: 1vh;
}

header {
    grid-area: head;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $brand-color-1;
    text-align: center;
    color: $font-color-1;
    // position: fixed;

}

aside {
    grid-area: neck;
    background-color: $wireframe-color;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    background-color: $wireframe-color;
    min-height: 10vh;
    // justify-content: center;
    align-items: center;
}

footer {
    grid-area: foot;
    background-color: $wireframe-color;
}

@media (min-width:600px) {
    .trip-card {
        flex-direction: row;
    }
}