$special-font: 'Roboto', sans-serif;
$generic-font: 'Open Sans', sans-serif;
$primary-font-color: black;
$wireframe-color: rgb(163, 163, 187);
$wireframe-border: 2px solid white;
$font-color-1: white;
$brand-color-1: rgb(12, 22, 36);

// .trip-title {
//     width: 1fr;
//     min-height: 5vh;
//     border: $wireframe-border;
//     text-align: center;
// }

.trip-image {
    width: 1fr;
    height: 10vh;
    border: $wireframe-border;
}

.trip-info {
    width: 1fr;
    height: 10vh;
    border: $wireframe-border;
}

@media (min-width:600px) {
    .trip-image {
        width: 50%;
    }
    .trip-info {
        width: 50%;
    }
}