<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Travel Guide App
            </div>
        </header>

        <main>
            <div class="container">
              <div id="trip-form-box">
                <div class="trip-text-box">
                  <h1>Travel App</h1>
                  <p>Let's plan your next trip for you. Just fill the information required below.</p>
                </div>
        
                <form onsubmit="return Client.SubmitForm(event)" autocomplete="off">
                  <label for="entry"></label>
                  <input id="entry" type="text" placeholder="Enter city" required>
                  <label for="startDate">Start date:</label>
                  <input id="startDate" type="date" required>
                  <label for="endDate">End date:</label>
                  <input id="endDate" type="date" required>
                  <input type="submit" >
                               </form>
              </div>
              <div id="new-trip">
                <div>
                  <p class="description">This is your trip info.</p>
                </div>
                <div id="new-trip-box"></div>
              </div>
              <div id="trips">
                <h1>Your trip</h1>
                <div id="trips__container">
                  <p id="no-trips__message">No active trip.</p>
        
                </div>
              </div>
        
            </div>
        
          </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>// Check that service workers are supported
        if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
        }
        </script>

    </body>
</html>
