@import "./footer.scss";
@import "./resets.scss";
@import "./form.scss";
@import "./header.scss";

html {
    width: 100%;
    height: 100%;
}


body {
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: 100%;
    background-attachment: scroll;
    background-color: grey;
    -ms-overflow-style: none;
    
  
@media screen and (max-width: 650px) {
    background: none;
    background-color: grey;
    -ms-overflow-style: none;
    font-size: 0.8em;
    font-weight: normal;
}
  
@media screen and (min-width: 650px) and (max-width: 800px) {
    background-color: grey;
    background-position: top;
    background-size: 100%;
    background-attachment: scroll;
    font-weight: normal;
    -ms-overflow-style: none;
    font-size: 0.5em;
}
  
@media screen and (min-width: 800px) and (max-width: 1200px) {
    background-position: top;
    background-size: 100%;
    background-attachment: scroll;
    background-color: grey;
    font-weight: normal;
    -ms-overflow-style: none;
    font-size: 0.8em;
}
.container {
    display: grid;
    justify-items: center;
    min-height: 90%;
    grid-template-columns: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
strong {
    font-weight: bold;
}
}


