//trip form container
#trip-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vh;
    margin-bottom: 5vh;
  
    @media screen and (max-width: 650px) {
      margin-top: 0;
      font-size: 1em;
    }
    @media screen and (min-width: 650px) and (max-width: 800px) {
      margin-top: 0;
      font-size: 1.5em;
    }
    @media screen and (min-width: 800px) and (max-width: 1000px) {
      margin-top: 7vh;
      margin-bottom: 15vw;
      font-size: 1.2em;
    }
    @media screen and (min-width: 1001px) and (max-width: 1200px) {
      margin-top: 7vh;
      margin-bottom: 20vw;
    }
  
    @media screen and (min-width: 1200px) {
      margin-top: 5vh;
      margin-bottom: 10vw;
    }
  
    form {
      display: flex;
      align-items: center;
      margin-top: 2vh;
      flex-wrap: wrap;
      justify-content: center;
      
      @media screen and (max-width: 650px) {
        flex-direction: column;
      }
    }
    input {
      padding: 5px 20px;
      width: 100%;
      margin: 1vh;
      border: none;
      border: none;
      background-color: orange;
      font-size: 1.2em;
      font-weight: 150;
      line-height: 16px;
      margin: 10px 0;
      height: 5vh;
      width: 25vh;
      border-radius: 4px;
      color:white;

      @media screen and (max-width: 650px) {
        text-align: center;
        font-size: 1.3em;
        height: 8vh;
        width: 65vw;
      }
      @media screen and (min-width: 650px) and (max-width: 800px) {
        font-size: 1.5em;
        width: 30vw;
      }
      @media screen and (min-width: 800px) and (max-width: 1200px) {
        font-size: 1.3em;
        width: 24vw;
      }
    }
    label {
      font-size: 1em;
      color: white;
      @media screen and (max-width: 800px) {
        display: none;
      }
      @media screen and (min-width: 800px) and (max-width: 1200px) {
        display: none;
      }
    }
    input[type="submit"]:hover {
      color: black;
      background-color: white;
    }
    h1 {
      font-weight: italic;
      font-size: 3em;
    }
    p {
      font-weight: italic;
      font-size: 1.1em;
      color: white;
      margin-top: 1em;
    }
    :-ms-input-placeholder {
      color: white;
    }
    ::-ms-input-placeholder {
      color: white;
    }
    ::placeholder {
      color: white;
      opacity: 1;
    }
}

.trip-text-box {
    text-align: center;
}

//weather-icon-output
.weather-icon {
    height: 4vh;
    width: 2vw;
    @media screen and (max-width: 650px) {
      height: 5vh;
      width: 8vw;
    }
  
    @media screen and (min-width: 650px) and (max-width: 800px) {
      height: 6vh;
      width: 6vw;
    }
    @media screen and (min-width: 800px) and (max-width: 1200px) {
      height: 6vh;
      width: 4vw;
    }
    @media screen and (min-width: 1200px) {
      height: 8vh;
      width: 4vw;
    }
}

//the trip details form
#new-trip {
  display: none;
  flex-direction: column;
  border-radius: 2%;
  text-align: center;
  padding: 2%;
  align-items: center;
  justify-content: center;
  background-color:orange;
  width: 70vh;
  margin-bottom: 5vh;
  @media screen and (max-width: 800px) {
    width: 96vw;
  }
  @media screen and (min-width: 650px) and (max-width: 800px) {
    font-size: 1.8em;
    width: auto;
  }
  @media screen and (min-width: 800px) and (max-width: 1200px) {
    width: auto;
  }
  
  .description {
    margin-top: 1vh;
  }
}

#trips {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
    @media screen and (min-width: 650px) and (max-width: 800px) {
      font-size: 1.5em;
    }
  
    @media screen and (min-width: 1020px) and (max-width: 1200px) {
    }
    h1 {
      font-weight: 400;
      font-size: 2.5em;
      color: white;
    }
}
  
#trips__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8vh;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: 650px) {
      margin-top: 0;
      width: auto;
      height: auto;
    }
    #no-trips__message {
      margin-top: 6vh;
      font-size: 1em;
      font-style: italic;
    }
}
 
.add-button {
  margin-top: 2vh;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  height: 4vh;
  width: 12vh;
}
.trip__card {
    display: flex;
    height: 40%;
    margin: 2vh;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 650px) {
      margin-top: 6vh;
    }
    @media screen and (min-width: 650px) and (max-width: 800px) {
      margin-top: 6vh;
      font-size: 1em;
    }
    @media screen and (min-width: 1500px) {
      margin: 4vh;
    }
}
  
.trip-image {
    width: 20vw;
    height: 24vh;
    border-radius: 25px;
    @media screen and (max-width: 800px) {
      width: 45vw;
      height: 20vh;
    }
    @media screen and (min-width: 800px) and (max-width: 1200px) {
      height: 25vh;
      width: 40vw;
    }
}
  
.trip-card-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vh;
    p {
      margin-top: 1vh;
    }
}
  
.trip-weather-info {
    h2 {
      font-weight: bold;
      color: green;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2vh;
}

.weather-icon {
  height: 4vh;
  width: 2vw;
  @media screen and (max-width: 650px) {
    height: 5vh;
    width: 8vw;
  }

  @media screen and (min-width: 650px) and (max-width: 800px) {
    height: 6vh;
    width: 6vw;
  }
  @media screen and (min-width: 800px) and (max-width: 1200px) {
    height: 6vh;
    width: 4vw;
  }
  @media screen and (min-width: 1200px) {
    height: 8vh;
    width: 4vw;
  }
}