$special-font: 'Roboto', sans-serif;
$generic-font: 'Open Sans', sans-serif;
$primary-font-color: black;
$wireframe-color: rgb(163, 163, 187);
$wireframe-border: 2px solid white;
$font-color-1: white;
$brand-color-1: rgb(12, 22, 36);